@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Playfair Display', serif;
}

html, body {
   width: 100%;
   height: 100%;
}

canvas {
   vertical-align: top;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal {
   position: relative;
   z-index: 100;
   width: 100%;
   height: 100%;
}

p {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding: 20px;
}
